igp_*
*,v
*.swp
*.gz
/JQAutoColorContrib.md5
/JQAutoColorContrib.sha1
/JQAutoColorContrib.tgz
/JQAutoColorContrib.txt
/JQAutoColorContrib.zip
/JQAutoColorContrib_installer
/JQAutoColorContrib_installer.pl
pub/System/JQAutoColorContrib/build/autocolor.css
pub/System/JQAutoColorContrib/build/autocolor.js
pub/System/JQAutoColorContrib/*jslint
